* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter";
}

body {
  height: 100vh;
  background: url("../img/signUpBg.jpeg");
  background-size: cover;
}
.signUpBox {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 50rem;
  /* height: 37.3rem; */
  padding: 6rem 8rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  border-radius: 2rem;
  /* justify-content: center; */
}

.box img {
  height: 5.5rem;
  margin-bottom: 1rem;
}

.signUp {
  background-color: #0d7a5f;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 2.5rem;
}

.signUp:hover {
  background-color: #053025;
}
.logIn {
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 2.5rem;
  background-color: transparent;
  border: 1px solid #0d7a5f;
  color: #0d7a5f;
}

.logIn:hover {
  color: #053025;
}

.box p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6;
  color: #3d463d;
}

.box p a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #0d7a5f;
}

.box p a:hover {
  color: #333;
}

form {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}
.email {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.8rem;
}

label {
  font-size: 1.2rem;
  color: #1a1e1d;
  font-weight: 600;
}

input {
  padding: 1rem 1.6rem;
  width: 100%;
  font-size: 1.5rem;
  border: 1.5px solid #99999980;
  border-radius: 7px;
}

input::placeholder {
  color: #66666680;
}

.email a {
  color: #0d7a5f;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
}

.email a {
  color: #0d7a5f;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
}

.phone {
  display: flex;
  gap: 1rem;
}

.cc {
  width: 30%;
}

form p {
  margin-top: -1rem;
  font-size: 1.3rem;
  line-height: 1;
}
.account {
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acc-h {
  margin-bottom: 2rem;
}

.account-box {
  /* background-color: #000; */
  /* border-radius: 39%; */
  width: 86rem;
  /* height: 52.8rem; */
}

.account-box h1 {
  font-size: 3.2rem;
  color: #3d463d;
}

.acc-box {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid #99999980;
  border-radius: 5px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 30rem;
  border-right: 1px solid #99999980;
}

aside a {
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  text-decoration: none;
  color: #0d7a5f;
}

.asideActive {
  border-left: 2px solid #1a1e1d;
  color: #1a1e1d;
  background-color: #99999910;
}

aside a:hover {
  border-left: 2px solid #99999980;
  transition: all 30s ease-in-out;
  /* transform: translateX(2px); */
  /* padding-right: 10px; */
}
main {
  padding: 1.6rem;
}
main h1 {
  font-size: 2.8rem;
}
main {
  width: 100%;
}

.nav-btn {
  padding: 0.8rem 2.2rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: #3d463d;
  background-color: transparent;
  border: 1px solid #3d463d50;
  align-self: flex-start;
  border-radius: 12px;
}
.mainNav {
  width: 100%;
  display: flex;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  border-bottom: 1px solid #99999980;
  margin-bottom: 2.3rem;
}

.mainContent {
  padding: 0 3rem;
  display: flex;
}

.mainContent img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1px solid #99999980;
}

.details {
  /* background-color: #053025; */
  width: 100%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.details div {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  /* background-color: #053025; */
}

ion-icon {
  font-size: 2rem;
  /* background-color: #053025; */
}

.userEmail,
.userFullName {
  color: #3d463d;
  font-weight: 600;
  font-size: 2rem !important;
}

.logout {
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.8rem 2.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #3d463d;
  background-color: transparent;
  border: 1px solid #3d463d50;
  align-self: flex-start;
  border-radius: 12px;
}

.logout:hover,
.nav-btn:hover {
  background-color: #3d463d10;
}

.mainContent p {
  font-size: 1.6rem;
  color: #3d463d;
  font-weight: 600;
}
.password {
  font-size: 1.6rem;
  color: #3d463d;
  font-weight: 600;
}

.factor {
  width: 4.6rem !important;
  border-radius: 0 !important;
  border: none !important;
  height: 4.6rem !important;
}
.facto {
  margin-left: 2rem;
  padding-right: 5rem;
}
.facto h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #3d463d;
}

.facto p {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #3d463d;
  font-weight: 300;
  line-height: 1.6;
}

.save,
.facto button {
  display: block;
  margin-top: 2rem;
  padding: 10px 42px;
  background-color: #0d7a5f;
  border-radius: 8px;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
}
.cancel {
  display: block;
  margin-top: 2rem;
  padding: 10px 22px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #1a1e1d;
  border: 1px solid #3d463d80;
}
.cancel:hover {
  background-color: #3d463d10;
}
.delete {
  margin-left: 3rem;
  display: block;
  margin-top: 2rem;
  padding: 10px 22px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #0d7a5f;
  border: 1px solid #0d7a5f;
}
.delete:hover {
  color: #fff;
  background-color: #0d7a5f;
}
.save:hover,
.facto button:hover {
  background-color: #053025;
  transition: all 0.3s ease-in-out;
}
.row1 {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 2rem;
  /* border-bottom: 1px solid #99999980; */
  padding-bottom: 1.5rem;
}
.row2 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  /* border-bottom: 1px solid #99999980; */
  padding-bottom: 1.5rem;
}

.row1 p {
  font-size: 1.6rem;
  font-weight: 300;
  display: flex;
  gap: 2rem;
  margin: 0 !important;
}

.row1p {
  margin: 0 !important;
  font-size: 2.6rem;
  /* display: flex; */
  font-weight: 600 !important;
  gap: 2rem;
}
.row2 {
  /* margin-top: 1rem; */
}

.row2 input {
  width: 1rem;
}
.ch {
  margin-left: 6.5rem;
}

.notif {
  display: flex;
  gap: 2rem;
}

.btns {
  padding-left: 3rem;
  display: flex;
  gap: 2rem;
}

.inputs {
  padding-left: 3rem;
  display: flex;
  gap: 1.5rem;
}

.add {
  width: 280%;
}

input {
  outline: none;
}

input:focus {
  outline: 1px solid #000;
}

main p {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 1.6rem;
  color: #67727e;
}
.download div p {
  margin: 0 !important;
  color: #0d7a5f;
}
main h2 {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 1.6rem;
  color: #3d463d;
}
.accountBalance {
  font-weight: 400;
  font-size: 1.6rem;
  color: #3d463d;
}

main label {
}

.redem {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.redem input {
  width: 70%;
}

.download div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.download div ion-icon {
  color: #0d7a5f;
}

.tran {
  margin-top: 2rem !important;
  color: #3d463d !important;
}

.download {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.del {
  margin-right: 3rem;
  line-height: 1.7;
}

.activ {
  margin-left: 3rem;
}

.task {
  position: relative;
  height: fit-content;
  background-color: #f9fafb;
}
.nav {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #66666640;
}

.nav img {
  height: 2rem;
  /* width: 18.9rem; */
}

.steps {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  font-size: 1.4rem;
  font-weight: 900;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7d6d9;
  color: #022022;
  border-radius: 50%;
}

.one-active {
  background-color: #0a2b14 !important;
  color: #fff;
}
.line {
  width: 18rem;
  height: 0.3rem;
  background-color: #d7d6d9;
}

.task-nav {
  margin-left: 3rem;
  display: flex;
  gap: 7.5rem;
}

.task-nav p {
  font-size: 1.4rem;
  color: #3d463d;
  font-weight: 600;
}

.step {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tell img {
  width: 3.2rem;
}

.tell {
  width: 100%;
  padding: 1.6rem;
  display: flex;
  gap: 1.6rem;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem;
  border-bottom: 2px solid #66666640;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
}

.tell2 {
  margin-bottom: 0 !important;
}
.tell3 {
  background-color: #67727e !important;
}
.tell p {
  color: #242a30;
  font-weight: 200;
  font-size: 1.6rem;
}
.tell3 p {
  color: #fff !important;
}
.cleaning {
  width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /* background-color: #000; */
}

.cleaning h1 {
  font-weight: 300;
  font-size: 2rem;
  color: #022022;
  /* padding-bottom: 0.8rem; */
}

.box1 {
  display: flex;
  padding: 3.2rem 4rem;
  gap: 2.2rem;
  background-color: #fff;

  border: 1px solid #66666640;
}

.box1 img {
  width: 10rem;
}

.boxContent h1,
.boxContent h2,
.boxContent h3 {
  font-size: 1.6rem;
}

.boxContent {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.boxContent h1 {
  color: #022022;
  font-weight: 600;
}
.boxContent h2 {
  color: #022022;
  font-weight: 500;
}
.boxContent h3 {
  color: #3d463d;
  font-weight: 500;
}
.box2 {
  display: flex;
  padding: 2.2rem;
  /* gap: 2.2rem; */
  background-color: #fff;
  flex-direction: column;
  gap: 2.4rem;
  border: 1px solid #66666640;
}

.box2 h1,
.box3 h1,
.box4 h1 {
  font-size: 1.6rem;
  color: #3d463d;
  font-weight: 600;
}

.inputClean {
  display: flex;
  gap: 2rem;
}

.inp2 {
  width: 20%;
}

.chd p {
  color: #8a8d8c;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.chd {
  display: flex;
  gap: 1rem;
}
.chd input {
  width: 1.8rem;
}

.box2 button {
  align-self: center;
  margin: 2rem 0;
}

.box3 {
  display: flex;
  padding: 2.2rem;
  /* gap: 2.2rem; */
  background-color: #fff;
  flex-direction: column;
  gap: 2.4rem;
  border: 1px solid #66666640;
}

.taskSize h1 {
  width: fit-content;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #66666640;
}

.sizeOptions {
  display: flex;
  justify-content: space-between;
  padding-right: 10rem;
}

.sizeOptions div {
  display: flex;
  gap: 1rem;
}

.sizeOptions div p {
  color: #022022;
  font-size: 1.6rem;
  font-weight: 600;
}
.sizeOptions div input {
  border-radius: 50%;
  width: 1.6rem;
}

.box3 button {
  align-self: center;
  margin: 1.6rem;
}

.box4 {
  display: flex;
  padding: 2.2rem;
  /* gap: 2.2rem; */
  background-color: #fff;
  flex-direction: column;
  gap: 2.4rem;
  border: 1px solid #66666640;
}

.box4 p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

.box4 input {
  /* height: 10rem; */
  padding-bottom: 7rem;
}

.box4 button {
  align-self: center;
  margin: 1.6rem;
}

.cont5 {
  width: 120rem;
  margin: 0 auto;
  /* background-color: #000; */
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.recom {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recom p {
  font-size: 1.4rem;
  font-weight: 600;
}

.recoms {
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  font-size: 1.6rem;
  border-radius: 7px;
}

option p {
  color: #67727e;
  font-size: 2.6rem;
}

.bars {
  display: flex;
  gap: 3rem;
}

.aside {
  width: 40rem;
  padding: 2.4rem 3.2rem;

  border: 1px solid #66666640;
}

.date p {
  color: #022022;
  font-size: 1.6rem;
}

.date {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.time {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  padding-bottom: 3rem;

  border-bottom: 1px solid #66666640;
}

.dis {
  display: block;
  /* margin-top: 2rem; */
  padding: 8px 22px;
  background-color: #eff1f0;
  border-radius: 8px;
  border: none;

  border: 1px solid #66666640;
  font-size: 1.6rem;
  cursor: pointer;
  color: #9ba19e;
}

.ac {
  display: block;
  /* margin-top: 2rem; */
  padding: 8px 22px;
  background-color: #0d7a5f;
  border-radius: 8px;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
}

.in {
  display: block;
  /* margin-top: 2rem; */
  padding: 8px 22px;
  background-color: transparent;
  border-radius: 8px;
  border: none;

  border: 1px solid #0d7a5f;
  font-size: 1.6rem;
  cursor: pointer;
  color: #0d7a5f;
}

.timeDay {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0 3.2rem;
  gap: 2.4rem;
  border-bottom: 2px solid #66666640;
}

.timeDay div {
  display: flex;
  align-self: flex-start;
  gap: 2rem;
  font-size: 1.6rem;
}

.timeDay h1 {
  font-size: 1.6rem;
  color: #022022;
}

.timeDay div input {
  width: 1.6rem;
}

.timeDay h2 {
  font-size: 1.4rem;
  color: #022022;
  /* text-align: center; */
  font-weight: 300;
}

.l1 {
  width: 19%;
  height: 0.25rem;
  border-bottom: 2px solid #66666640;
  align-self: flex-end;
  margin-top: 1rem;
}

.lop {
  width: 100%;
  height: 2rem;
  display: flex !important;
  flex-direction: row !important;
  align-self: center !important;
  justify-content: space-between !important;
  align-items: flex-end;
}
.timeDay select {
  margin-bottom: 1rem;
  border-bottom: 2px solid #66666640;
}

.ppr {
  margin-top: -3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ppr p {
  font-size: 1.6rem;
  color: #022022;
}

.timeDay p {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
b {
  font-size: 1.6rem;
}
.timeDay:last-child {
  border: none;
}

.b2 {
  margin-top: 4rem;
  width: 40rem;
  padding: 2.4rem 3.2rem;
  display: flex;
  gap: 2.5rem;
  border: 1px solid #66666640;
}

.b2 img {
  width: 3.2rem;
}

.b2 p {
  font-size: 1.4rem;
  color: #022022;
  line-height: 1.6;
}

.profiles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}
.profile {
  width: 100%;
  height: fit-content;
  /* height: auto; */
  /* flex-direction: column; */
  padding: 3.2rem;
  display: flex;
  gap: 3rem;
  border: 1px solid #66666640;
}

.nav1 {
  width: 19.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav1 img {
  width: 19.3rem;
  border-radius: 50%;
}

.nav1 a {
  font-size: 1.6rem;
  color: #0d7a5f;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.nav1 button {
  margin: 1.6rem 0 4.8rem;
}

.nav1 p {
  font-size: 1.4rem;
  color: #3d463d;
  line-height: 1.6;
  text-align: center;
}

.nav2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav2i {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid #66666640;
}

.nav2 div h1 {
  font-size: 3.2rem;
  color: #022022;
}

.jhk {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ppri {
  font-size: 2.4rem !important;
}

.jhk div {
  display: flex;
  gap: 1rem;
}

.jhk div p {
  font-size: 1.6rem;
}
.jhk button {
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 1.3rem;
}

.hlk {
  font-size: 1.6rem !important;
}

.nav2i p {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #022022;
}

.more {
  font-size: 1.6rem;
  color: #0d7a5f;
  text-decoration: none;
  font-weight: 600;
}
.review {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
}
.review img {
  width: 7.2rem;
  border-radius: 50%;
}

.nameer {
  margin-top: 1rem;
  font-weight: 700;
}

.nav2i:last-child {
  border: none;
}

/* .profile {
  display: flex;
  flex-direction: column;
} */

.choose {
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
  background-color: rgba(90, 90, 90, 0.6);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-box {
  width: 71.7rem;
  background-color: #fff;
  border-radius: 10px;
  /* margin: 3rem; */
  /* margin: 0 auto; */
  /* display: flex; */
  padding: 5rem;
}

.chosf {
  display: flex;
}

.choose-box h1 {
  font-size: 3.2rem;
  font-weight: 400;
}

.navv1 {
  width: 60%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.avail img {
  width: 2.9rem;
  border-radius: 50%;
}

.avail p {
  font-size: 1.6rem;
  font-weight: 600;
}

.avail {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  align-self: center;
}

.navv1 p {
  font-size: 1.6rem;
  align-self: center;
}

.week p {
  font-size: 1.4rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #86919d;
}

.calendar {
  width: 34rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.week {
  /* width: 34rem; */
  /* background-color: #000; */
  display: flex;
  /* justify-content: space-between; */
}

.dates {
  display: flex;
  /* justify-content: space-between; */
}
.dates p {
  font-size: 1.4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  border: 1px solid #66666640;
}

.navv1 select {
  margin-left: -3rem;
  margin-top: 3rem;
  align-self: center;
  width: 28rem;
  padding: 0.8rem 1.2rem;
  background-color: #fff;
  font-size: 1.6rem;
}

.navv2 {
  padding: 5rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.pol {
  font-size: 1.4rem;
  margin: 3rem;
}

.navv2 h1 {
  font-size: 2.2rem;
}

.navv2 p {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 600;
}

.navv2 button {
  padding: 0.8rem 1.6rem;
}
.confirm span {
  font-size: 1.2rem;
  color: #0a2b14;
}

.confirm {
  display: flex;
  gap: 1rem;
}

.closei {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.choose-box {
  position: relative;
}

.closei ion-icon {
  font-size: 4rem;
}

ion-icon {
  cursor: pointer;
}
