* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter";
}

body {
  height: 100vh;
  background: url("../img/signUpBg.jpeg");
  background-size: cover;
}
.signUpBox {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 50rem;
  /* height: 37.3rem; */
  padding: 6rem 8rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  border-radius: 2rem;
  /* justify-content: center; */
}

.box img {
  height: 5.5rem;
  margin-bottom: 1rem;
}

.signUp {
  background-color: #0d7a5f;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 2.5rem;
}

.signUp:hover {
  background-color: #053025;
}
.logIn {
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 2.5rem;
  background-color: transparent;
  border: 1px solid #0d7a5f;
  color: #0d7a5f;
}

.logIn:hover {
  color: #053025;
}

.box p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6;
  color: #3d463d;
}

.box p a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #0d7a5f;
}

.box p a:hover {
  color: #333;
}

.chat {
  width: 3rem;
  height: 3rem;
  z-index: 1;
}

.chat-bg {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  padding: 1.5rem;
  background-color: #053025;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.chat-bg:hover {
  background-color: #111;
}

form {
  margin-top: 2rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.email {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.8rem;
}

label {
  font-size: 1.2rem;
  color: #1a1e1d;
  font-weight: 600;
}

input {
  padding: 1rem 1.6rem;
  width: 100%;
  font-size: 1.5rem;
  border: 1.5px solid #99999980;
  border-radius: 7px;
}

input::placeholder {
  color: #66666680;
}

.email a {
  color: #0d7a5f;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
}

.phone {
  display: flex;
  gap: 1rem;
}

.cc {
  width: 30%;
}

form p {
  margin-top: -1rem;
  font-size: 1.3rem;
  line-height: 1;
}
